src/main/mule/oktaflows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<flow name="createuserFlow" doc:id="af08ba09-a70c-4ae4-8d12-2eb85fac05bf" >
		<json-logger:logger doc:name="Start Logger" doc:id="9d09414c-bded-46a8-b5b2-db012600e82c" config-ref="JSON_Logger_Config" message="Start Logger"/>
		<http:request method="POST" doc:name="Request call to create user" doc:id="d32ce054-cddb-4373-be97-340f700c331b" config-ref="HTTP_Request_configuration" path="/v1/users?activate=true">
			<http:body ><![CDATA[#[output application/json
---
{
  "profile": {
    "firstName": payload.profile.firstName,
    "lastName": payload.profile.lastName,
    "email": payload.profile.email,
    "login": payload.profile.login  },
  "credentials": {
    "password" : { "value": payload.credentials.password }
  }
}]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS00_D2c1xXoGDGNbA8HMeOZWhGPu89XJN-nd9iUP8iv",
	"Accept" : "application/json",
	"Content-Type" : "application/json"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transforming payload to json" doc:id="7f637bbd-9107-4c16-bbd3-eff293339903" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="End Logger" doc:id="2dc512b2-3f55-4b73-a454-7778ab77dade" config-ref="JSON_Logger_Config" message="End Logger" tracePoint="END"/>
	</flow>
	<flow name="changepasswordFlow" doc:id="267b16d1-1fa7-4456-968b-e9907e2ebc7a" >
		<json-logger:logger doc:name="Start Logger" doc:id="f1b1456c-e1ff-4e4c-86bc-6352e6ad1920" config-ref="JSON_Logger_Config" message="Start Logger" />
		<http:request method="POST" doc:name="Requesting change password url" doc:id="ff3269c9-6eac-49eb-8c11-3f35f22e849f" config-ref="HTTP_Request_configuration" path="/v1/users/{userid}/credentials/change_password" >
			<http:body ><![CDATA[#[output application/json
---
{
  "oldPassword": { "value": payload.oldPassword },
  "newPassword": { "value": payload.newPassword }
}]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS00_D2c1xXoGDGNbA8HMeOZWhGPu89XJN-nd9iUP8iv",
	"Accept" : "application/json",
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"userid" : attributes.uriParams.userid}]]]></http:uri-params>
		</http:request>
		<json-logger:logger doc:name="End Logger" doc:id="9edf012b-348e-41af-a857-c6732c80c81f" config-ref="JSON_Logger_Config" message="End Logger" tracePoint="END" />
	</flow>
	<flow name="createsessionFlow" doc:id="e58a93a8-d980-4b94-883b-42ec12ca5170" >
		<json-logger:logger doc:name="Start Logger" doc:id="feba4ee3-1825-49ca-9566-75151166927e" config-ref="JSON_Logger_Config" message="Start Logger" />
		<http:request method="POST" doc:name="Request create session" doc:id="4f90b2da-77c3-4549-8190-110f8b70ddbf" config-ref="HTTP_Request_configuration" path="/v1/sessions?additionalFields=cookieToken" >
			<http:body ><![CDATA[#[output application/json
---
{
  "sessionToken": payload.sessionToken
    }]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS00_D2c1xXoGDGNbA8HMeOZWhGPu89XJN-nd9iUP8iv",
	"Accept" : "application/json",
	"Content-Type" : "application/json"
}]]]></http:headers>
		</http:request>
		<json-logger:logger doc:name="End Logger" doc:id="3bf21929-9cdf-40a7-85cc-3b11b638d9fd" config-ref="JSON_Logger_Config" message="End Logger" tracePoint="END" />
	</flow>
	<flow name="deletesessionFlow" doc:id="fb51c9a6-b058-4ba8-bd18-53914d119922" >
		<json-logger:logger doc:name="Start Logger" doc:id="ae013e03-bacd-46b8-841b-63e5ff59f291" config-ref="JSON_Logger_Config" message="Start Logger" />
		<http:request method="DELETE" doc:name="Request call to delete session" doc:id="9ad5d6bb-ef6a-4c1f-8e4f-48bdaee9db46" config-ref="HTTP_Request_configuration" path="/v1/sessions/{userid}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS00_D2c1xXoGDGNbA8HMeOZWhGPu89XJN-nd9iUP8iv",
	"Accept" : "application/json",
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"userid" : attributes.uriParams.userid
}]]]></http:uri-params>
		</http:request>
		<json-logger:logger doc:name="End Logger" doc:id="07d3ef20-1d74-476b-969a-5a165b95aeaa" config-ref="JSON_Logger_Config" message="End Logger" tracePoint="END" />
	</flow>
	<flow name="forgetpasswordFlow" doc:id="2c1c9647-c7a7-4e41-9b8e-3bd4b1cbf457" >
		<json-logger:logger doc:name="Start Logger" doc:id="bc34c654-e1ee-49ad-9690-d0dd49b4412a" config-ref="JSON_Logger_Config" message="Start Logger" />
		<http:request method="POST" doc:name="Request to forget password" doc:id="b5ec9326-ee0c-4368-a3db-dfc21bd78f8c" config-ref="HTTP_Request_configuration" path="/v1/authn/recovery/password" >
			<http:body ><![CDATA[#[output application/json
---
{
  "username": payload.username,
  "factorType": payload.factorType,
  "relayState": payload.relayState
}]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Accept" : "application/json",
	"Content-Type" : "application/json"
}]]]></http:headers>
		</http:request>
		<json-logger:logger doc:name="End Logger" doc:id="b4b87395-704f-4181-bc57-0c4dc254f569" config-ref="JSON_Logger_Config" message="End Logger" tracePoint="END" />
	</flow>
	<flow name="createauthenticationFlow" doc:id="38319735-59ee-42d5-9eb6-4a2ef83812a4" >
		<json-logger:logger doc:name="Start Logger" doc:id="dbc1a404-55cf-4af5-b855-39428d5ab767" config-ref="JSON_Logger_Config" message="Start Logger" />
		<http:request method="POST" doc:name="Request to create authentication" doc:id="ace652fc-b22d-4987-b97f-5495d65e41eb" config-ref="HTTP_Request_configuration" path="/v1/authn" >
			<http:body ><![CDATA[#[output application/json
---
{
  "username": payload.username,
  "password": payload.password,
  "options": {
    "multiOptionalFactorEnroll": true,
    "warnBeforePasswordExpired": true
  }  
}]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Accept" : "application/json",
	"Content-Type" : "application/json"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transforming payload to json" doc:id="6dc72d51-363a-4855-acea-520dd9f47d80" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="End Logger" doc:id="d01c9f28-215a-4cc4-a4b4-89ccf024d536" config-ref="JSON_Logger_Config" message="End Logger" tracePoint="END" />
	</flow>
	<flow name="validatesessionFlow" doc:id="22f4fb79-5dd6-4d52-96ff-40eef7118469" >
		<json-logger:logger doc:name="Start Logger" doc:id="3d54478e-ef87-4656-a7e2-735c044efda0" config-ref="JSON_Logger_Config" message="Start Logger" />
		<http:request method="GET" doc:name="Request to validate session" doc:id="e33f9310-224d-4484-bbe5-8f5df7e37d06" config-ref="HTTP_Request_configuration" path="/v1/sessions/{userid}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS00_D2c1xXoGDGNbA8HMeOZWhGPu89XJN-nd9iUP8iv",
	"Accept" : "application/json",
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"userid" : attributes.uriParams.userid
}]]]></http:uri-params>
		</http:request>
		<json-logger:logger doc:name="End Logger" doc:id="eb883761-6ff0-4684-a878-b07905f57376" config-ref="JSON_Logger_Config" message="End Logger" tracePoint="END" />
	</flow>
</mule>
