src/main/mule/okta-systemapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="okta-systemapi-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="okta-systemapi-config"/>
        </flow>
         <flow name="okta-systemapi-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="okta-systemapi-config"/>
		<error-handler ref="errorhandlingError_Handler" />
 
    </flow>
    <flow name="delete:\sessions\(userid):okta-systemapi-config">
		<flow-ref doc:name="Flow Reference to deletesessionFlow" doc:id="789116f4-8468-4f1c-b6c2-a296d395be65" name="deletesessionFlow"/>
		<error-handler ref="errorhandlingError_Handler" />
    </flow>
    <flow name="get:\sessions\(userid):okta-systemapi-config">
		<flow-ref doc:name="Flow Reference to validatesessionFlow" doc:id="15799f10-acd9-453b-b614-149edc639082" name="validatesessionFlow"/>
		<error-handler ref="errorhandlingError_Handler" />
    </flow>
    <flow name="post:\authn\recovery\password:application\json:okta-systemapi-config">
		<flow-ref doc:name="Flow Reference to forgetpasswordFlow" doc:id="bd650145-7c86-4899-b8a6-a6c3b83976f6" name="forgetpasswordFlow"/>
		<error-handler ref="errorhandlingError_Handler" />
    </flow>
    <flow name="post:\authn:application\json:okta-systemapi-config">
		<flow-ref doc:name="Flow Reference to createauthenticationFlow" doc:id="0ffcd44b-537b-4b3e-967d-a322a398c515" name="createauthenticationFlow"/>
		<error-handler ref="errorhandlingError_Handler" />
    </flow>
    <flow name="post:\sessions?additionalFields=cookieToken:application\json:okta-systemapi-config">
		<flow-ref doc:name="Flow Reference to createsessionFlow" doc:id="da4d55b7-df98-4070-bf28-cbf5e572bfa9" name="createsessionFlow"/>
		<error-handler ref="errorhandlingError_Handler" />
    </flow>
    <flow name="post:\users\(userid)\credentials\change_password:application\json:okta-systemapi-config">
		<flow-ref doc:name="Flow Reference to changepasswordFlow" doc:id="85a71f6d-6bf3-4f4e-a8c1-29ba5675ec02" name="changepasswordFlow"/>
		<error-handler ref="errorhandlingError_Handler" />
    </flow>
    <flow name="post:\users?activate=true:application\json:okta-systemapi-config">
		<flow-ref doc:name="Flow Reference to createuserFlow" doc:id="0628ee96-76bb-4b4a-8304-b6eba7e7bd4d" name="createuserFlow"/>
		<error-handler ref="errorhandlingError_Handler" />
    </flow>
</mule>
